#       EditorConfig file: see <https://editorconfig.org>.
#
#       Maintenance note:
#           keep the following files in sync:
#
#            - .editorconfig
#            - .gitattributes
#            - language_traits.txt
# ----------------------------------------------------------------------------

root = true

[*]
indent_style = space
indent_size = 4
max_line_length = 80
insert_final_newline = true
trim_trailing_whitespace = true

[*.el]
indent_size = 2

#       Normally, these files are edited by Visual Studio. But I may
#       edit them in Vim or TortoiseGitMerge if e.g. there are
#       conflicts. So better specifying these settings.
# ----------------------------------------------------------------------------
[*.sln]
indent_style=tab

#       Ditto.
# ----------------------------------------------------------------------------
[*.{vcxproj,vcxproj.filters,ruleset}]
indent_size = 2
insert_final_newline = false

#       The recommended name extension for YAML files is '.yaml', but
#       Travis CI requires '.yml', instead; so we supported both. Now
#       that we switched to GitHub Actions, I wonder: does GitHub allow
#       '.yaml' everywhere?
#
#       As to indent_size, YAML looks irregular with 4-space indentation
#       when you use "- "; consider e.g. this snippet:
#
#         include:
#             - os: linux
#               dist: xenial
#
#               addons:
#                 apt:
#                     sources:
#                         - ubuntu-toolchain-r-test
#                     packages:
#                         - g++-6
#
#       Here, "- os: linux" is indented by 4 spaces, but the line
#       immediately after it is indented by 2, to align with
#       "os: linux". Similarly, "apt:", which was aligned by pressing
#       the tab key, is only 2 spaces to the right of "addons:". So, I
#       think, either one never uses the tab key and always adds 4
#       spaces "manually", or use the 2-space indentation that everyone
#       is using. I chose the latter.
# ----------------------------------------------------------------------------
[*.{yml,yaml}]
indent_size = 2
