#       Auto detect text files and perform line-ending normalization.
# ----------------------------------------------------------------------------
* text=auto

#       List of all the file types used in Breeze (more precisely: the
#       types of files normally created in a text editor; for instance,
#       Visual Studio solution files are excluded from this list and set
#       later).
#
#       Maintenance note:
#           keep the following files in sync:
#
#            - .editorconfig
#            - .gitattributes
#            - language_traits.txt
# ----------------------------------------------------------------------------
*.awk       text eol=lf
*.bat       text eol=crlf
*.cpp       text
GNUmakefile text
*.hpp       text
*.ipp       text
*.tpp       text
*.css       text
*.el        text
*.html      text
*.md        text
*.mk        text
*.py        text
*.sh        text eol=lf
*.shc       text eol=lf
*.vim       text
*.xhtml     text
*.yaml      text

*.txt       text

#       Custom for Visual Studio.
# ----------------------------------------------------------------------------
*.sln             text eol=crlf
*.vcxproj         text eol=crlf
*.vcxproj.filters text eol=crlf

#       This also needs Unix line-endings, even under the Windows
#       command line.
# ----------------------------------------------------------------------------
/.git_commit_message_template.txt    eol=lf
